
:host ::ng-deep .devui-accordion-menu{
    box-shadow:0 0px 0px 0 rgba(41,48,64,.2);
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    background: #F3F7FE;
    z-index: 1;

}
.left{
    // background-color: honeydew;
    // width: 200px;
    width: 12%;
    min-width: 200px;
    height:1200px;
    background: white;
    padding-left:10px;
    padding-top: 20px;
    z-index: 5;
}
.content{

    width:88%;
    margin-top :10px;
    margin-right :15px;
    margin-left: 20px;
    background: white;
    padding-left: 10px;
}
.header{
    position: relative;
    z-index: 10;
    width: 100%;
}
