<header>
  <div class="logo">
    <img src="../assets/img/logo.png" alt="图片挂了" height="50px" />
  </div>
  <!-- <a href="#">首页</a> -->
  <div id="menu">

    <d-tabs [(activeTab)]="tab22acticeID" [showContent]="false" cssClass="redtabs">
      <d-tab id="tab1" title="Home" tabId="tab1"> </d-tab>

      <d-tab id="tab2" title="Profile" tabId="tab2"> </d-tab>

      <d-tab id="tab3" title="Fat" tabId="tab3"> </d-tab>
    </d-tabs>
  </div>



</header>
<div class="main">
  <div class="left">
    <d-accordion [data]="menu" class="menu" [restrictOneOpen]="restrictOneOpen" (itemClick)="itemClick($event)"
      (menuToggle)="menuToggle($event)"></d-accordion>
  </div>
  <div class="content">
    <d-tabs [(activeTab)]="tab22acticeID" [showContent]="false" cssClass="redtabs">
      <d-tab id="tab1" title="Home" tabId="tab1"> </d-tab>

      <d-tab id="tab2" title="Profile" tabId="tab2"> </d-tab>

      <d-tab id="tab3" title="Fat" tabId="tab3"> </d-tab>
    </d-tabs>

    <d-search [placeholder]="'Please Input keywords'" [isKeyupSearch]="true" (searchFn)="onSearch($event)"
      style="width: 400px;"></d-search>

    <d-data-table [dataSource]="sortableDataSource" [onlyOneColumnSort]="true" [(multiSort)]="sortedColumn"
      [scrollable]="true" [resizeable]="true" (multiSortChange)="multiSortChange($event)"
      (pageIndexChange)="changePageContent($event)" (resize)="onResize($event)" [checkable]="true"
      [hideColumn]="hideColumn" [showSortIcon]="true">
      <d-column field="$index" header="#" [width]="'50px'"></d-column>
      <d-column field="firstName" header="First Name" [sortable]="true" [width]="'150px'" [filterable]="true"
        [filterList]="filterListMulti" [beforeFilter]="beforeFilter" (filterChange)="filterChangeMultiple($event)">
      </d-column>
      <d-column field="lastName" header="Last Name" [sortable]="true" [width]="'150px'"></d-column>
      <d-column field="gender" header="Gender" [sortable]="true" [width]="'100px'" [filterable]="true"
        [filterMultiple]="false" [filterList]="filterList2" (filterChange)="filterChangeRadio($event)"></d-column>
      <d-column field="dob" header="Date of birth" [fieldType]="'date'" [extraOptions]="{ dateFormat: 'MM/DD/YYYY' }"
        [width]="'100px'"></d-column>
      <d-column field="hidden" header="hidden" [width]="'100px'">hidden</d-column>
    </d-data-table>
    
  </div>
</div>