
// background: cornsilk;
header{
    width: 100%;
    height: 60px;
    background: black;
    
    margin: 5px;
    .logo{
        width:400px;
        float: left;
    }
    a{
        color:red;

    }
    #menu{
        width: calc(100% - 400px);
        float: left;
        margin-top: 30px;
        font-size: 40px;
        color: white;
        
    }
    
}
.main{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: flex-start;
}
.left{
    // background-color: honeydew;
    width: 200px;
    float: left;
    // height: 1200px;
}
.content{
    width: calc(100%-240px);
    float: left;
    // height: 1200px;
    margin-left: 40px;
}
.redtabs{
    color: red;
}
.search{
    width: 40%;
    float:left;
}
.tags{
    width: 60%;
    float:left;
    display: flex;
    justify-content: flex-end;

}
